<%- include('../includes/head') %>
<%- include('../includes/nav') %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8" style="padding-top: 130px;">
      <h1 class="text-center">Login</h1>
      <div class="d-flex justify-content-center">
        <div class="col-lg-6">
          <form action="/login/enter" method="post" style="width: 400px;">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="row">
              <div class="col-lg">
                <div class="mb-3">
                  <label>Email</label>
                  <input type="email" class="form-control">
                </div>
                <div class="mb-3">
                  <label>Senha</label>
                  <input type="password" class="form-control">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input">
                  <label class="form-check-label">Lembre-me</label>
                  <a href="/recupera-senha" style="margin-left: 135px;">Esqueci minha senha</a>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" style="width: 400px;">Acessar</button>
                </div>
                <div class="form-text text-center">Ainda não tem conta? <a href="/register">Cadastre-se</a></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer') %>
